{% extends "base.html" %}

{% block header %}

{% include "/inc/head.html" %}

{% endblock %}

{% block content %}
<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

{% include "/inc/sidebar_0.html" %}

<main class="bd-main order-1">

<div class="bd-intro pt-0 ps-lg-0">

{% include "/inc/breadc.html" %}

<h1>home</h1>
</div>


<!-- {% include "/inc/toc_0.html" %} -->


<div class="bd-content ps-lg-2">



</div> <!--bd-content -->

</main>

</div>

{% endblock %}


{% block footer %}

{% include "/inc/foot.html" %}

{% endblock %}

