.p-tree {
    padding: 0;
    border: 0px solid blue;
    background-color: transparent;
    font-size: 0.8rem;
}
.p-tree-container {
    padding-left: 0;
}
.p-treenode {
    padding: 0;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 0;
}

ol, ul {
    padding-left: 0; /*0.9rem;*/
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0.5rem;
}

a {
    text-decoration: none;
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}

.p-breadcrumb .p-menuitem-link {
    padding: 0;
}

.bd-links-link {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}
